{% extends 'base.html' %}
{% block title %}Log-in{% endblock %}
{% load static %}
{% block content %}
    <!-- End Google Tag Manager (noscript) -->
    <div class="page_loader"></div>

    <!-- Login 2 start -->
    <div class="login-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-section">
                        <div class="logo-2">
                            <a href="#">
                                <img src="{% static 'img/logos/logo-2.png' %}"  alt="logo">
                            </a>
                        </div>
                       
                        
                        {% if form.errors %}
                            <p>
                                Your username and password didn't match.
                                Please try again.
                            </p>
                        {% else %}
                             <h3>Sign into your account</h3>
                        {% endif %}
                        <form action="{% url 'login' %}" method="POST">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <div class="form-group mb-0 clearfix">
                                <input type="submit" class="btn-md btn-theme float-left" value="Login" />
                                <input type="hidden" class="btn-md btn-theme float-left" name="next" value="{{next}}" />
                                <a href="{% url 'password_reset' %}" class="forgot-password">Forgot Password</a>
                            </div>
                            <div class="extra-login clearfix">
                                <span>Or Login With</span>
                            </div>
                            <div class="clearfix"></div>
                            <ul class="social-list">
                                <li><a href="{% url 'social:begin' 'facebook' %}" class="facebook-bg"><i class="fa fa-facebook facebook-i"></i><span>Facebook</span></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter twitter-i"></i><span>Twitter</span></a></li>
                                <li><a href="{% url 'social:begin' 'google-oauth2' %}" class="google-bg"><i class="fa fa-google google-i"></i><span>Google</span></a></li>
                            </ul>
                        </form>
                        <p>Don't have an account? <a href="{% url 'register' %}" class="thembo"> Register here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login 2 end -->
{% endblock content %}
    