{% extends "base.html" %}
{% load static %}
{% block title %}Reset your password{% endblock %}
{% block content %}
 <div class="login-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-section">
                    <div class="logo-2">
                        <a href="#">
                            <img src="{% static 'img/logos/logo-2.png' %}"  alt="logo">
                        </a>
                    </div>
                    Someone asked for password reset for email {{ email }}. Follow the
                    link below:
                    {{ protocol }}://{{ domain }}{% url "password_reset_confirm"
                    uidb64=uid token=token %}
                    Your username, in case you've forgotten: {{ user.get_username }}
                </div>
            </div>
        </div>
    </div>
</div>   
{% endblock content %}
    
