{% extends "base.html" %}
{% load static %}
{% block title %}Change your password{% endblock %}
{% block content %}
<!-- Login 2 start -->
<div class="login-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-section">
                    <div class="logo-2">
                        <a href="#">
                            <img src="{% static 'img/logos/logo-2.png' %}"  alt="logo">
                        </a>
                    </div>
                    <h1>Change your password</h1>
                    <p>Use the form below to change your password.</p>
                    <form method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <div class="form-group mb-0 clearfix">
                            <input type="submit" value="Change" class="btn-md btn-theme float-left">
                        </div>       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}